
body {
  font-family: Roboto Flex;
  margin: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.input-group-keywords{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 15px;
  display: flex !important;
  justify-content: space-between;
  align-items: center; 
  gap: 10px
}

.input-group-select {
  background-color: white;
  margin-bottom: 15px;
  display: flex !important;
  justify-content: space-between;
  align-items: center; /* Keep everything in one row */
  gap: 10px;

}
.input-skills{
  background-color: #f8f8f8;
  border-radius: 20px 20px;
  height: 50px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #202020;
}

input[type="text"], select, button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px 20px;
  font-size: 14px;
}
.Enter-the-skills{
  width: 40%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.input-group-salary{
 
  width: 82%;
  display: flex;
  align-items: center;
  gap: 20px;
}
/* input[type="number"]{
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
} */
 .currency-select-dropdown{
  background-color: #F8F8F8;
  border-radius: 20px 20px;
  height: 50px;
  width: 25%;
 }
 .currency-select{
  background-color: #F8F8F8;
  border-radius: 20px 20px;
  height: 50px;
  width: 90%;
 }
 .paragraph-salary-range{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
 }
 .salary-chekbox{
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
 }
 .paragraph-salary-range-paragrapph{
  color: #818181;
 }

.radio-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  border-radius: 15px 15px;
  color: #EAEAEA;
}

.radio-group label {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  gap: 5px;
  margin-top: 10px;
  border: 2px solid #EAEAEA;
  border-radius: 20px 20px;
  height: 40px;
  width: 17%;
}

.Experience-year{
  background-color: #F8F8F8;
  border-radius: 20px 20px;
  height: 50px;
  
  gap: 5px;

}
input[type="radio"] {
  accent-color: #007bff;
}
.candidate-age{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  font-size: 30px;
}
.candidate-age-range{
  width: 82%;
  display: flex;
  align-items: center;
  gap: 5px;
}
button {
  width: 20%;
  padding: 10px 20px;
  background-color: #F8F8F8;
  color: #202020;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add-button {
  display: flex;
  color: #202020;
  border-radius: 15px 15px;
  background: #F8F8F8;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 16px;
  text-align: center;
  width: 25%;        
  cursor: pointer;
  
}

.add-button:hover {
  background-color: #F8F8F8;
}

.add-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.input-container {
  margin-top: 20px;
  width: 82%;
}
.input-container-skills{
  margin-top: 20px;
  width: 82%;
}

.input-field {
  display: block;
  margin-bottom: 10px;
}
.input-field-skills{
  display: block;
  margin-bottom: 10px;
}

/* input[type="text"] {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */


.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 15px;
}
.Search-keywords{
  display: inline-block;
  padding: 10px 50px;
  background: #FFFFFF;
  color: #202020;
  border-radius: 15px;
  font-size: 14px;
  position: relative;
}

.tag-salary-range {
  display: inline-block;
  padding: 10px 50px;
  background: #f8f8f8;
  color: #202020;
  border-radius:15px;
  font-size: 15px;
  position: relative;
  height: 50px;
  text-align: center;
}
.tag{
  display: inline-block;
  padding: 10px 50px;
  
  color: #202020;
  border-radius: 15px;
  font-size: 15px;
  position: relative;
}
.close-btn-keywords{
  position: absolute;
  margin-left: 95px;
  
  top: 2px;
  left: 60px;
  background: transparent;
  border: none;
  color: #202020;
  font-size: 12px;
  cursor: pointer;
}
.tag .close-btn {
  position: absolute;
  margin-right: 10px;
  margin-left: 85px;
  top: 2px;
  left: 60px;
  background: transparent;
  border: none;
  color: #202020;
  font-size: 12px;
  cursor: pointer;
}

.keywords-section {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 82%;
  border-radius: 10px;
  background: #F8F8F8;
}

.switch-btn {
  margin-left: 40px;
}

.search-icon-btn {
  border: none;
  background: none;
  width: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.icon-new {
  text-align: center;
  margin-left: auto;
  width: 18px;
   height: 18px;
  
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 9px;
  bottom: 9px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #BDC3C7;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 15px 15px;
}

.slider.round:before {
  border-radius: 50%;
}
.checkbox-group-kaywords {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.exclude-keywords {
margin-top: 10px;
display: flex;
align-items: center;
gap: 10px;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px;
}

.action-text {
  cursor: pointer;
  text-align: center;
  margin-left: 5px;
  color: #818181;
  font-size: 14px;
}

.action-text:hover {
  color: #818181;
}


@media (max-width: 1024px) {
  .container {
    width: 95%;
  }


  .switch-btn {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }

  .switch-btn {
    margin-left: 10px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 18px;
  }

  .tag {
    padding: 5px 20px;
  }

  .switch {
    width: 50px;
    height: 28px;
  }

  .slider:before {
    height: 22px;
    width: 22px; 
  }
}
.Location-candiate{
  background-color: #F8F8F8;
  padding: 10px;
  height: 50px;
  width: 90%;
  font-size: 20px;
}
.tag-location{
  display: inline-block;
  padding: 10px 50px;
  margin-top: 20px;
  background: #f8f8f8;
  color: #202020;
  border-radius:15px;
  font-size: 15px;
  position: relative;
  height: 40px;
  text-align: center;
}
.input-group-location{
  margin-top: 20px;
  padding:10px;
  margin-bottom: 20px;
  width: 83%;
  height: 25px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  gap: 10px
}
.currency-select{
  background-color: #f8f8f8;

}
.Epmloyee-details{
  background-color: #F8F8F8;
}
.Epmloyee-details-input{
  padding: 5px;
  background-color: #F8F8F8;
  margin-right: 10px;
  width: 82%;
  border-radius: 20px 20px;
  font-size: 20px;
}
.Industry-details{
  background-color: #F8F8F8;
  font-size: 15px;
  font-weight: bold;
}
.chekbox-mondatory{
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.close-btn-location{
  position: absolute;
  margin-left: 50px;
  top: 2px;
  left: 60px;
  background: transparent;
  border: none;
  color: #202020;
  font-size: 12px;
  cursor: pointer;
}
.close-btn-employee{
  position: absolute;
  margin-left: 120px;
  top: 2px;
  left: 60px;
  background: transparent;
  border: none;
  color: #202020;
  font-size: 12px;
  cursor: pointer;
}
.Industry-details{
  background: none;
  font-size: 20px;
}
.Industry-details-input{
  flex-wrap: wrap;
  background-color: #F8F8F8;
  padding: 5px;
  margin-right: 50px;
  width:  82%;
  border-radius: 20px 20px;
}
.company-details-font{
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: bold;
}
.designation-details-font{
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}
.notice-period-label{
  font-size: 15px;
  margin-top: 10px;
  font-weight: bold;
}
.Education-details{
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}
.UG-qualification{
  font-size: 15px;
  margin-top: 20px;
  font-weight: bold;
}
.Pg-qualification{
  font-size: 15px;
  margin-top: 20px;
  font-weight: bold;
}
.PPG-qualification{
  font-size: 15px;
  margin-top: 20px;
  font-weight: bold;
}
.Diversity-details{
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}
.gender-details{
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}
.candiates-category-details{
  font-size: 20px;
}
.close-btn-candidate-category{
position: absolute;
  margin-left: 2px;
  top: 2px;
  background: transparent;
  border: none;
  color: #202020;
  font-size: 12px;
  cursor: pointer;

}
.Header{
  font-size: 25px;
}
.checkbox-group-keywords{
 font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.Employee-details-header{
  font-size: 15px;
  margin-top: 10px;
}
.employe-role{
  font-size: 15px;
  margin-top: 20px;
  font-weight: bold;
}
.tag-role{
  display: inline-block;
  text-align: center;
  padding: 10px 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #f8f8f8;
  color: #202020;
  border-radius:15px;
  font-size: 14px;
  position: relative;
  height: 40px;
 
}
.tag-industry-details{

  display: inline-block;
  text-align: center;
  width: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #f8f8f8;
  color: #202020;
  border-radius:15px;
  font-size: 16px;
  position: relative;
  height: 40px;
}
.tag-candiadate-category{
  display: inline-block;
  text-align: center;
  width: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #F8F8F8;
  color: #202020;
  border-radius:15px;
  font-size: 16px;
  position: relative;
  height: 40px;
}
.input-candidate-category{
  flex-wrap: wrap;
  background-color: #F8F8F8;
  padding: 5px;
  margin-right: 50px;
  width:  82%;
  border-radius: 20px 20px;
  font-size: 20px;
}
.paragraf-candidate-add{
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}
.Add-here-paragraf{
  display: inline-block;
  margin-top: 10px;
  padding: 10px 50px;
  background: #F8F8F8;
  color: #202020;
  border-radius: 15px;
  font-size: 14px;
  position: relative;
}
.close-btn-add-here{
  position: absolute;
  margin-left: 95px;
  
  top: 2px;
  left: 60px;
  background: transparent;
  border: none;
  color: #202020;
  font-size: 12px;
  cursor: pointer;
}
.currency-select-age{
  background-color: #F8F8F8;
  border-radius: 20px 20px;
  height: 50px;
  width: 80%;
 
}
.paragraph-age-range{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
 }
 .work-details-header{
   font-size: 30px;
   margin-top: 20px;
   margin-bottom: 20px;
 }
 .job-type-details{
  background-color: #F8F8F8;
  border-radius: 20px 20px;
  height: 50px;
 }
 .Employeement-type-details{
  background-color: #F8F8F8;
  border-radius: 20px 20px;
  height: 50px;
 }